<div *ngIf='isLoading'>
  <mat-spinner style="margin: auto;"></mat-spinner>
</div>
<form [formGroup]='customFormGroup' *ngIf='!isLoading'>
  <label color='secondary'
    [ngClass]="{'error animate__animated animate__fadeIn animate__faster 500ms':(isSubmittedFlag || customFormGroup.controls[name].touched ) && customFormGroup.controls[name].invalid}">{{displayName}}</label>
  <mat-radio-group class="example-radio-group" [formControlName]='name'>
    <mat-radio-button class="example-radio-button" *ngFor='let option of options' [value]="option.value">
      {{option.name}}
    </mat-radio-button>
  </mat-radio-group>
  <div *ngFor='let validation of validations'>
    <mat-error class="animate__animated animate__fadeInDown animate__faster 500ms"
      *ngIf='(isSubmittedFlag || customFormGroup.controls[name].touched ) && getControlValidationStatus(validation.type.toLowerCase())=="invalid"'>
      <span>
        <i style="font-size: 75%;">{{validation.errorMessage}}</i>
      </span>
    </mat-error>
  </div>
</form>