<!-- <div>
  <mat-spinner style="margin: auto;"></mat-spinner>
</div> -->
<form [formGroup]='customFormGroup'>
  <mat-label [ngClass]="{'error animate__animated animate__fadeIn animate__faster 500ms':(isSubmittedFlag || customFormGroup.controls[name].touched ) && customFormGroup.controls[name].invalid}">{{displayName}}</mat-label>
  <div class="checboxes" [formArrayName]="name" *ngFor='let checkbox of checkboxes;let i =index'>
    <mat-checkbox class="example-margin" [formControlName]="i" type="checkbox" [name]="name">{{checkbox.name}}
    </mat-checkbox>
  </div>
  <div *ngFor='let validation of validations'>
    <mat-error  *ngIf='(isSubmittedFlag || customFormGroup.controls[name].touched ) && getControlValidationStatus(validation.type)=="invalid"' 
    class="animate__animated animate__fadeInDown animate__faster 500ms">
      <span 
       >
        <i style="font-size: 75%;">{{validation.errorMessage}}</i>
      </span>
    </mat-error>
  </div>
</form>