<app-date-control-to-add #control *ngIf='type == "date"'></app-date-control-to-add>
<app-select-control-to-add #control *ngIf='type == "select"'></app-select-control-to-add>
<app-text-control-to-add #control *ngIf='type == "text"'></app-text-control-to-add>
<app-number-control-to-add #control *ngIf='type == "number"'></app-number-control-to-add>
<app-radio-control-to-add #control *ngIf='type == "radio"'></app-radio-control-to-add>
<app-check-box-control-to-add #control *ngIf='type == "checkbox"'></app-check-box-control-to-add>