<form [formGroup]='form'>
<mat-form-field >
    <mat-label>Name</mat-label>
    <input autocomplete="off" matInput formControlName='name'
           placeholder="Ex. username">
    <mat-hint>This will be used as a name for the field</mat-hint>
    <mat-error *ngIf="form.controls.displayName.errors">
        Name is <strong>required</strong>
    </mat-error> 
  </mat-form-field>
  <br>
  <mat-form-field >
    <mat-label>Display Name</mat-label>
    <input autocomplete="off" matInput formControlName='displayName'
           placeholder="Ex. Username">
    <mat-hint>This will be used as a label for the field</mat-hint>
    <mat-error *ngIf="form.controls.displayName.errors">
        Display Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Validators</mat-label>
    <mat-select multiple (selectionChange)='validatorsChanged($event)'>
      <mat-option *ngFor="let validation of valdiators" [value]="validation">{{validation | titlecase}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <ng-container *ngFor='let df of dyanmicFields'>
    <mat-form-field  >
        <mat-label>{{df.name | titlecase}} *</mat-label>
        <input autocomplete="off" matInput [type]="df.type" [formControlName]='df.name'>
        <mat-error *ngIf="form.controls[df.name].errors">
            {{df.name | titlecase}} is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
  </ng-container >
</form>