<div class="row">
    <div class="col-lg-12" *ngFor='let df of controlData.dynamicFields;let i = index'>
        <hr>
        <form [formGroup]='df.form' *ngIf='df.form && df.form.controls[df.name]'>
            <mat-form-field *ngIf='df.type=="text"'>
                <mat-label>{{df.name | titlecase}}</mat-label>
                <input autocomplete="off" matInput [type]="df.specificType?df.specificType:'text'"
                    [placeholder]="df.name" [formControlName]='df.name'>
                <mat-error *ngIf="df.form.controls[df.name].errors">
                    {{df.name | titlecase}} is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf='df.type=="date"'>
                <mat-label>{{df.name | titlecase}}</mat-label>
                <input matInput readonly [matDatepicker]="picker" [formControlName]='df.name'>
                <mat-datepicker-toggle
                    [ngClass]="{'animate__animated animate__fadeIn animate__animated animate__infinite':!df.form.controls[df.name].value}"
                    matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="df.form.controls[df.name].errors">
                    {{df.name | titlecase}} is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf='df.type=="select"'>
                <mat-label>{{df.name | titlecase}}</mat-label>
                <mat-select [formControlName]='df.name'>
                    <mat-option *ngFor="let other of df.others" [value]="other">
                        {{other | titlecase}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="df.form.controls[df.name].errors">
                    {{df.name | titlecase}} is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Error Message</mat-label>
                <input autocomplete="off" matInput placeholder="Error Message" formControlName='errorMessage'>
                <mat-error *ngIf="df.form.controls['errorMessage'].errors">
                    Error Message is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
</div>