<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div cdkDropListGroup>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h5>Available Form Controls</h5>
          <div cdkDropList [cdkDropListData]="controls" class="example-list" sortingDisabled='true'>
            <div class="example-box" *ngFor="let control of controls" cdkDrag>{{control | titlecase}}</div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <h5>Selected Form Controls</h5>
          <div cdkDropList [cdkDropListData]="selectedControls" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let control of selectedControls;let i = index" cdkDrag>
              <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10">
                  <app-control-to-add #addedControl [type]='control'></app-control-to-add>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <button mat-mini-fab color="warn" (click)='removeControl(i)'>
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>


              </div>
            </div>
            <div *ngIf='selectedControls.length == 0' class="example-box">{{'zero controls are selected' | titlecase}}
            </div>
          </div>
          <button class="generateFormBtn" mat-raised-button color="primary" (click)='print()'>Generate Form!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12" *ngIf='json.length>0'>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h5>Your Form</h5>
        <dj-form [json]='json'></dj-form>
      </div>
    </div>
  </div>
</div>