<form [formGroup]='controlData.form'>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input autocomplete="off" matInput formControlName='name' placeholder="Ex. username">
        <mat-hint>This will be used as a name for the field</mat-hint>
        <mat-error *ngIf="controlData.form.controls.displayName.errors">
            Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Display Name</mat-label>
        <input autocomplete="off" matInput formControlName='displayName' placeholder="Ex. Username">
        <mat-hint>This will be used as a label for the field</mat-hint>
        <mat-error *ngIf="controlData.form.controls.displayName.errors">
            Display Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Validators</mat-label>
        <mat-select multiple (selectionChange)='validatorsChanged($event)'>
            <mat-option *ngFor="let validation of controlData.availableValidators" [value]="validation">{{validation | titlecase}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
<app-dynamic-fields [form]='controlData.form' [dynamicFields]='controlData.dyanmicFields'></app-dynamic-fields>
<button (click)='submit()'>Print</button>